.box1{
    width: fit-content;
}
p{
    margin-bottom: 0px;
    margin-top: auto;
}
.pic{
    margin: auto;
    padding: auto  ;
}

.box2{
    margin: auto;
    padding: auto;
    width: 1200px;
    background-color: rgb(208, 208, 226);
    text-align: center;
    
}
.button{
    border-radius: 3px;
    background-color: rgb(208, 208, 226);
}
.botbox{
    padding: auto;
    margin: 1px auto;
    float: left;
    width: fit-content;
    text-align: center;
}
.leftbox{
    font-size: 18px;
    margin-left: 160px;
    float: left;
    width: 390px; 
    height: 90px;
    background-color: rgb(199, 218, 228);
}
.midbox{
    margin-top:0px;
    float: left;
    margin-left: 1px;
    width: 290px; 
    height: 90px;
    background-color: rgb(158, 182, 195);
}
.rightbox{
    margin-left: 1px;
    float: left;
    width: 518px; 
    height: 90px;
    background-color: rgb(127, 175, 201);
}

.foot{
    width: fit-content;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}